services:
  postgres:
    image: postgres:15-alpine
    container_name: flashsale-postgres
    environment:
      POSTGRES_DB: flashsale
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: flashsale-redis
    environment:
      TZ: Asia/Kolkata
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: flashsale-app
    environment:
      TZ: Asia/Kolkata
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
