spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/flashsale
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  redis:
    host: redis
    port: 6379

server:
  port: 8080
